
 /* ATIVIDADE 1  */

/* 
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(135deg, #6a11cb, #2575fc);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background: white;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.2);
            text-align: center;
            width: 300px;
        }

        h2 {
            margin-bottom: 20px;
        }

        input {
            width: 90%;
            padding: 10px;
            margin: 8px 0;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: none;
            border-radius: 8px;
            background: #2575fc;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #1a5ed8;
        }

        #resultado {
            margin-top: 15px;
            font-weight: bold;
        }

        .erro {
            color: red;
        }

        .sucesso {
            color: green;
        } */

 /* ATIVIDADE 2  */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #ff7e5f;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #e86a4f;
}

#mensagem {
    margin-top: 15px;
    font-weight: bold;
}

.erro {
    color: red;
}

.sucesso {
    color: green;
}